.input-box {
    margin: 20px;
}

.input-text {
    margin: 20px;
}


.dropdown {
    position: relative;
    width: 200px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.dropdown-list {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Style the items in the dropdown list */
.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Hide the dropdown list by default */
.hidden {
    display: none;
}

.background-box {
    position: absolute;
    top: 50%;                
    left: 50%;              
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.main {
    background-image: url('new\ york.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}