body {
    background-image: url('../static/new york.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: Assistant;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.75); 
    width: 75%;
    padding: 20px;
    height: 100vh;
    right: 0;
    top: 0;
}

button {
    background-color: #8e83d5;
    color: black; 
    border: none;
    border-radius: 15px; 
    padding: 5px 15px;
    font-size: 13px;
}

button:hover {
    background-color: #483d8b; /* Darker shade on hover */
}