body {
    background-image: url('../static/new york.webp');
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: Assistant;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 20px;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    background-color: rgba(255, 255, 255, 0.75); 
    width: 75%;
    padding: 20px;
    right: 0;
    top: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    background-color: #929cde;
    color: black; 
    border: none;
    border-radius: 15px; 
    padding: 5px 15px;
    font-size: 13px;
}

#edit-button {
    background-color: #aade92;
    border: none;
    border-radius: 15px; 
    padding: 5px 15px;
    font-size: 13px;
}

button:hover {
    background-color: #483d8b; /* Darker shade on hover */
}

.input-box {
    margin: 20px;
}
  
.input-text {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
  
.dropdown {
    position: relative;
    width: 200px;
}
  
input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
select {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.dropdown-list {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Style the items in the dropdown list */
.dropdown-item {
    padding: 10px;
    cursor: pointer;
}
  
.dropdown-item:hover {
    background-color: #f0f0f0;
}
  
  /* Hide the dropdown list by default */
.hidden {
    display: none;
}

/*Trip input page stuff */
#add-person {
    margin-left: 10px;
}

#start-date {
    margin-right: 10px;
}

.input-text input, 
.input-text select:not([name="people[]"]) {
    margin-left: 10px;
}

/* Keyword input */
#keyword-input {
    height: 100px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

#confirm {
    margin-left: 200px;
}


.sort-container{
    margin-bottom: 20px;
}

/*Hotel styling */
.hotel-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hotel-option {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.hotel-option:hover,
.hotel-option input:checked {
    border-color: #483d8b;
    box-shadow: 0 4px 8px rgba(72, 61, 139, 0.3);
}

.hotel-label {
    width: 100%;
}

.hotel-content {
    display: flex;
    align-items: center;
}

.hotel-image {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.hotel-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
}

.hotel-info strong {
    font-size: 18px;
}

.hotel-info span {
    font-weight: bold;
}

#confirm2 {
    margin-top: 20px;
    margin-left: 850px;
}

/* Flight Styling */
.flight-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.flight-option {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #f9f9f9;
}

.flight-option:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-label {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-content {
    flex-grow: 1;
    margin-left: 10px;
}

.flight-info {
    font-size: 14px;
    line-height: 1.5;
}

