<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Travel Details Confirmation</h1>
        <div id="details">
            <p><strong>Travel Dates:</strong> From {{ start_date }} to {{ end_date }}</p>
            <p><strong>Departure City:</strong> {{ departure_city or 'Not provided' }}</p>
            <p><strong>Arrival City:</strong> {{ arrival_city or 'Not provided' }}</p>
            <p><strong>Number of Adults:</strong> {{ num_adults or 'Not provided' }}</p>
            <p><strong>Number of Children:</strong> {{ num_children or 'Not provided' }}</p>
            <p><strong>Need to Book Flight:</strong> {{ flight_needed or 'Not Needed' }}</p>
            <p><strong>Minimum Hotel Stars Needed:</strong> {{ hotel_stars or 'Not specified' }}</p>
            <p><strong>Need to Rent Car:</strong> {{ car_needed or 'Not Needed' }}</p>
            <p><strong>Keywords:</strong> {{ keywords or 'None' }}</p>
        </div>

        <button type="submit" id="edit-button">Edit Details</button>

        <form action="{{ url_for('departure') }}" method="get" style="display:inline;">
            <button type="submit" id="confirm">Next</button>
        </form>

    </div>

    <script>
        // Event listener for the edit button
        document.getElementById('edit-button').addEventListener('click', function() {
            window.history.back(); // Go back to the previous form
        });
    </script>
</body>
</html>
